*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

    nav{
        background-color: rgb(20, 19, 19);
        height: 80%;
        width: 100%;

    }
    label.logo{

        color: white;
        font-size: 1em;
        line-height: 70px;
        padding: 0 100px;
        font-weight: 800;
    }
    nav ul{
        float: right;
        margin-right: 30px;
        padding: 0 100px;
        
    }
    nav ul li{
        display: inline-block;
        line-height: 80px;
        margin: 0 4px;
        color: white;
         
        
    }
    nav ul li a 
    {
       
        font-size: 1em;
        padding: 3px 10px;
    }
    body{
        height: 200px; ;
    }
    .sinif
    {
        background-color: rgb(20, 19, 19);
        color: white;
        background-image: url(d60105bb-eb00-4c36-bcd5-7bc8f521b825.jpg);
        background-repeat: no-repeat;
        background-position: 90%;
        height: 400px;
        font-size: 2em;
        
        
    }
    .button{
        background-color:rgb(64, 118, 235); 
        border: none;
      
        color: white;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 30px;
    }
     .Button{
        background-color:rgb(20, 19, 19);
      
        border: 2px;
        border-style: ridge;
        color: white;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 30px;

     }
     .better{

        font-size: 20px;
        margin-top: 100px;
       
     }
     i{
         color: blue;
         margin-left: 500px;
         width: 100px;
        
         height: 10px;
         font-size: 2.2em;
         top: 10px;

     }
     h6{

         margin-left: 500px;
         font-size: 1.5em;
     }